/LoggerTester/obj/Debug/net8.0/apphost
/Logger/obj/Debug/net7.0/Logger.assets.cache
/Logger/obj/Debug/net8.0/Logger.assets.cache
/Logger/obj/Debug/net8.0/Logger.csproj.CoreCompileInputs.cache
/Logger/obj/Debug/net8.0/Logger.csproj.FileListAbsolute.txt
/Logger/obj/Logger.csproj.nuget.dgspec.json
/Logger/obj/Logger.csproj.nuget.g.props
/Logger/obj/Logger.csproj.nuget.g.targets
/Logger/bin/Debug/net8.0/Logger.deps.json
/Logger/bin/Debug/net8.0/Logger.dll
/Logger/obj/Debug/net8.0/ref/Logger.dll
/Logger/obj/Debug/net8.0/refint/Logger.dll
/Logger/obj/Debug/net8.0/Logger.dll
/LoggerTester/bin/Debug/net8.0/Logger.dll
/Logger/obj/Debug/net7.0/Logger.GeneratedMSBuildEditorConfig.editorconfig
/Logger/obj/Debug/net8.0/Logger.GeneratedMSBuildEditorConfig.editorconfig
/Logger/bin/Debug/net8.0/Logger.pdb
/Logger/obj/Debug/net8.0/Logger.pdb
/LoggerTester/bin/Debug/net8.0/Logger.pdb
/Logger/obj/Debug/net8.0/Logger.sourcelink.json
/LoggerTester/bin/Debug/net8.0/LoggerTester
/LoggerTester/obj/Debug/net7.0/LoggerTester.assets.cache
/LoggerTester/obj/Debug/net8.0/LoggerTester.assets.cache
/LoggerTester/obj/Debug/net8.0/LoggerTester.csproj.AssemblyReference.cache
/LoggerTester/obj/Debug/net8.0/LoggerTester.csproj.CopyComplete
/LoggerTester/obj/Debug/net8.0/LoggerTester.csproj.CoreCompileInputs.cache
/LoggerTester/obj/Debug/net8.0/LoggerTester.csproj.FileListAbsolute.txt
/LoggerTester/obj/LoggerTester.csproj.nuget.dgspec.json
/LoggerTester/obj/LoggerTester.csproj.nuget.g.props
/LoggerTester/obj/LoggerTester.csproj.nuget.g.targets
/LoggerTester/bin/Debug/net8.0/LoggerTester.deps.json
/LoggerTester/bin/Debug/net8.0/LoggerTester.dll
/LoggerTester/obj/Debug/net8.0/ref/LoggerTester.dll
/LoggerTester/obj/Debug/net8.0/refint/LoggerTester.dll
/LoggerTester/obj/Debug/net8.0/LoggerTester.dll
/LoggerTester/obj/Debug/net7.0/LoggerTester.GeneratedMSBuildEditorConfig.editorconfig
/LoggerTester/obj/Debug/net8.0/LoggerTester.GeneratedMSBuildEditorConfig.editorconfig
/LoggerTester/obj/Debug/net8.0/LoggerTester.genruntimeconfig.cache
/LoggerTester/bin/Debug/net8.0/LoggerTester.pdb
/LoggerTester/obj/Debug/net8.0/LoggerTester.pdb
/LoggerTester/bin/Debug/net8.0/LoggerTester.runtimeconfig.json
/LoggerTester/obj/Debug/net8.0/LoggerTester.sourcelink.json
/Logger/obj/project.assets.json
/LoggerTester/obj/project.assets.json
/Logger/obj/project.nuget.cache
/LoggerTester/obj/project.nuget.cache
/Logger/obj/project.packagespec.json
/LoggerTester/obj/project.packagespec.json
/Logger/obj/rider.project.model.nuget.info
/LoggerTester/obj/rider.project.model.nuget.info
/Logger/obj/rider.project.restore.info
/LoggerTester/obj/rider.project.restore.info
/.idea/.idea.Logger/.idea/workspace.xml
